@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #fff7f0;
}

h1,
h2,
h3 {
  font-weight: 700;
  text-align: center;
  color: #030303;
}

p {
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #7a746e;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #fff7f0;
  padding: 8px 28px;
  border: none;
  border-radius: 28px;
  background-color: #eb7565;
}

.top .btn,
.bottom .btn {
  background-color: #030303;
}

header {
  padding: 16px 16px 0;
  max-width: 450px;
  /* width: 375px; */
  margin: 0 auto;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top .logo,
.bottom .logo {
  width: 48px;
  height: 48px;
}

.top img,
.bottom img {
  width: 100%;
}

header h1 {
  margin-top: 32px;
  font-size: 36px;
  line-height: 45px;
}

header p {
  margin-top: 16px;
}

.grid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 364px 182px 158px 182px 182px;
  gap: 24px 25px;
}

.grid-item {
  border-radius: 8px;
  position: relative;
}

.grid-item.graphic-design,
.grid-item.illustrations,
.grid-item.photography,
.grid-item.motion-graphics {
  grid-column: 1 / 3;
}

.grid-item.graphic-design {
  background-color: #755cde;
}

.grid-item.ui-ux {
  background-color: #f6a560;
}

.grid-item.apps {
  background-color: #f39e9e;
}

.grid-item.illustrations {
  background-color: #eb7565;
}

.grid-item.photography {
  background-color: #61c4b7;
}

.grid-item.motion-graphics {
  background-color: #552049;
}

.grid-item .pattern {
  position: absolute;
  top: 24px;
  right: 24px;
}

.grid-item span {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

main {
  margin: 100px auto 0;
  padding: 0 16px;
  max-width: 450px;
  /* width: 375px; */
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .info .photo {
  width: 300px;
  margin: 0 auto;
}

main .info .photo img {
  width: 100%;
}

.info h2 {
  margin-top: 40px;
  font-size: 26px;
  line-height: 33px;
}

.info p {
  margin-top: 24px;
}

.info .btn {
  margin: 24px auto;
}

main .work {
  margin-top: 100px;
}

main .work h3 {
  font-size: 24px;
  line-height: 30px;
}

main .work .slider {
}

main .work .slider-btns {
  margin-top: 32px;
  text-align: center;
}

main .work .slider-btns button {
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-color: #030303;
}

main .work .slider-btns button:first-child {
  margin-right: 16px;
}

footer {
  margin: 100px auto 32px;
  max-width: 450px;
  /* width: 375px; */
  padding: 0 16px;
}

footer .info {
  padding: 49px 24px 48px;
  background-color: #030303;
  border-radius: 10px;
}

footer h2,
footer p {
  color: #fff7f0;
}

.bottom {
  margin-top: 40px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 28px;
  }

  .btn {
    font-size: 16px;
    padding: 14px 45px;
    background-color: #eb7565;
  }

  .top .btn,
  .bottom .btn {
    background-color: #030303;
  }

  header {
    padding: 34px 40px 0;
    max-width: 850px;
    /* width: 768px; */
    margin: 0 auto;
  }

  .top .logo,
  .bottom .logo {
    width: 64px;
    height: 64px;
  }

  header h1 {
    margin-top: 64px;
    font-size: 44px;
    line-height: 55px;
  }

  header p {
    margin-top: 27px;
    padding: 0 50px;
  }

  .grid {
    margin-top: 64px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 182px 158px 182px;
    gap: 24px 23px;
  }

  .grid-item.graphic-design,
  .grid-item.photography {
    grid-column: 1 / 3;
  }

  .grid-item.graphic-design {
    grid-row: 1 / 3;
  }

  .grid-item.illustrations {
    grid-column: 3 / 5;
  }

  .grid-item.motion-graphics {
    grid-column: 3 / 5;
  }

  main {
    margin: 120px auto 0;
    padding: 0;
    max-width: 850px;
    /* width: 768px; */
  }

  main .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
    position: relative;
  }

  main .info .photo {
    width: 364px;
    margin: 0 auto;
    position: absolute;
    right: 408px;
  }

  main .info h2 {
    margin-top: 0;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
  }

  main .info p {
    text-align: left;
  }

  main .info .btn {
    margin: 24px 0 0;
  }

  main .info .content {
    width: 339px;
  }

  main .work {
    margin-top: 120px;
  }

  main .work h3 {
    font-size: 32px;
    line-height: 40px;
  }

  main .work .slider {
  }

  main .work .slider-btns {
    margin-top: 56px;
  }

  footer {
    margin: 120px auto 56px;
    max-width: 850px;
    /* width: 768px; */
    padding: 0 39px;
  }

  footer .info {
    padding: 56px 75px 64px;
  }

  .bottom {
    margin-top: 56px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 0;
    max-width: 1110px;
    margin: 34px auto 0;
  }

  header h1 {
    margin-top: 66px;
    font-size: 56px;
    line-height: 71px;
  }

  header p {
    margin-top: 23px;
    padding: 0 200px;
  }

  .grid {
    margin-top: 80px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 182px 158px;
    gap: 24px 25px;
  }

  .grid-item.graphic-design {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .grid-item.illustrations {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  .grid-item.photography {
    grid-column: 5 / 7;
  }

  .grid-item.motion-graphics {
    grid-column: 5 / 7;
  }

  main {
    margin: 136px auto 0;
    max-width: 1110px;
  }

  main .info {
    width: 100%;
    justify-content: space-between;
    position: unset;
  }

  main .info .photo {
    width: 445px;
    margin: 0;
    position: unset;
  }

  main .info h2 {
    font-size: 40px;
    line-height: 50px;
  }

  main .info p {
    text-align: left;
    margin-top: 34px;
  }

  main .info .btn {
    margin: 32px 0 0;
  }

  main .info .content {
    width: 540px;
  }

  main .work {
    margin-top: 88px;
  }

  main .work .slider {
  }

  /* NOT FINISHED */
  footer {
    margin: 88px auto 64px;
    max-width: 1110px;
    padding: 0;
    position: relative;
  }

  footer .info {
    padding: 81px 505px 80px 65px;
  }

  footer h2,
  footer p {
    text-align: left;
  }

  footer .info h2 {
    margin: 0;
    font-size: 40px;
    line-height: 50px;
  }

  footer .info .btn {
    position: absolute;
    right: 95px;
  }
}
